manifest {
    author            = 'Madison T. Henniger; Trevor F. Freeman; Troy N. Rowan'
    defaultBranch     = 'main'
    recurseSubmodules = false
    description       = 'A Nextflow pipeline for imputation.'
    mainScript        = 'main.nf'
    name              = 'maddiehenniger/nf-imputation-pipeline'
    nextflowVersion   = '!>=23.10.0'
    version           = 'v0.0.0.1'
}

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

params {
    /*
    ---------------------------------------------------------------------
        Input/Output Options
    ---------------------------------------------------------------------
    */
    // REQUIRED INPUT: Project Title
    // User-defined project title, to keep things tidy!
    projectTitle    = null

    // REQUIRED INPUT: Test Sample Metadata & Sequencing Data Type
    // samplesheet - User-provided test sample metadata (CSV) - see README for more information regarding format
    // dataType    - User-provided information about the input data - either value of 'array' or 'lpwgs'. Default is 'array'.
    samplesheet     = null
    dataType        = 'array'

    // REQUIRED INPUT: Reference Panel Metadata
    // User-provided reference panel metadata - see README for more information regarding format
    references      = null

    /*---------------------------------------------------------------------
        SHAPEIT5 Phasing Parameters
    ---------------------------------------------------------------------
    */
    // If your dataType is array, please select how you would like to phase samples
    // 1 - Perform phasing of samples to the reference panel defined for round 'one' of imputation
    // 1 - Note that if your input file has <50 samples, SHAPEIT5 will return an error requesting you to use a reference panel to inform phasing
    // 2 - If your input file has >50 samples, you may decide whether you'd like to phase using the reference or without using SHAPEIT5
    // 3 - If your input file has <50 samples but you'd like to phase without a reference, you cannot run SHAPEIT5
    // 3 - SHAPEIT5 will return an error requesting you to use a reference panel to inform phasing - 
    // 3 - however, you may perform reference-free phasing with a SHAPEIT4 workaround - it is essentially the same model but not optimized for large samples -
    // 3 - proceed at your own risk!
    // See https://odelaneau.github.io/shapeit5/docs/documentation/phase_common/ for more detail
    // Must be of value 'use_reference' (scenario 1),'no_reference' (scenario 2), or 'shapeit4_no_reference' (scenario 3)
    phasingModel = null

    /*
    ---------------------------------------------------------------------
        GLIMPSE2 Parameters
    ---------------------------------------------------------------------
    */
    // If your dataType is low-pass whole genome sequencing (lpwgs), please select the model for GLIMPSE2 for glimpse2_chunk
    // See https://odelaneau.github.io/GLIMPSE/docs/documentation/chunk/ for more detail
    // Must be of value 'recursive' or 'sequential'
    glimpse2Model = null

    // OPTIONAL INPUT: Truth Set Metadata
    truthset        = 'skip'

    // Publish Options
    publishDirData    = "${launchDir}/data"
    publishDirReports = "${launchDir}/reports"
    publishMode       = 'copy'
}

/*
---------------------------------------------------------------------
    Import Configuration Files
---------------------------------------------------------------------
*/
includeConfig 'conf/args.config'
includeConfig 'conf/containers.config'
includeConfig 'conf/plugins.config'
includeConfig 'conf/reporting.config'
includeConfig 'conf/resources.config'

includeConfig 'conf/isaac.config'
profiles {
    exploratory {
        params {
            publishDirData    = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/data"
            publishDirReports = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/reports"
            publishMode       = 'symlink'
        }
        resume = true
    }

}