manifest {
    author            = 'Madison T. Henniger; Trevor F. Freeman; Troy N. Rowan'
    defaultBranch     = 'main'
    recurseSubmodules = false
    description       = 'A Nextflow pipeline for imputation.'
    mainScript        = 'main.nf'
    name              = 'maddiehenniger/nf-imputation-pipeline'
    nextflowVersion   = '!>=23.10.0'
    version           = 'v0.0.0.1'
}

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

params {
    /*
    ---------------------------------------------------------------------
        Input/Output Options
    ---------------------------------------------------------------------
    */
    // REQUIRED INPUT: Project Title
    // User-defined project title, to keep things tidy!
    projectTitle    = 'nf-test-combine'

    // REQUIRED INPUT: Test Sample Metadata & Sequencing Data Type
    // samplesheet - User-provided test sample metadata (CSV) - see README for more information regarding format
    // dataType    - User-provided information about the input data - either value of 'array' or 'lpwgs'
    samplesheet     = 'imputation_samplesheet.csv'
    dataType        = 'array'

    // REQUIRED INPUT: Reference Panel Metadata
    // User-provided reference panel metadata - see README for more information regarding format
    references      = 'hd_to_umag.csv'

    // OPTIONAL INPUT: Truth Set Metadata
    truthset        = 'skip'

    // Publish Options
    publishDirData    = "${launchDir}/data"
    publishDirReports = "${launchDir}/reports"
    publishMode       = 'copy'
}

/*
---------------------------------------------------------------------
    Import Configuration Files
---------------------------------------------------------------------
*/
includeConfig 'conf/args.config'
includeConfig 'conf/containers.config'
includeConfig 'conf/plugins.config'
includeConfig 'conf/reporting.config'
includeConfig 'conf/resources.config'

includeConfig 'conf/isaac.config'
profiles {
    exploratory {
        params {
            publishDirData    = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/data"
            publishDirReports = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/reports"
            publishMode       = 'symlink'
        }
        resume = true
    }

}