manifest {
    author            = 'Madison T. Henniger; Trevor F. Freeman; Troy N. Rowan'
    defaultBranch     = 'main'
    recurseSubmodules = false
    description       = 'A Nextflow pipeline for imputation.'
    mainScript        = 'main.nf'
    name              = 'maddiehenniger/nf-imputation-pipeline'
    nextflowVersion   = '!>=23.10.0'
    version           = 'v0.0.0.1'
}

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

params {
    /*
    ---------------------------------------------------------------------
        Input/output options
    ---------------------------------------------------------------------
    */
    // input options
    projectTitle = null
    samplesheet  = null

    // reference options
    referencesheet = null

    // pedigree options

    // recombination map options
    recombinationMaps = null

    // publish options
    publishDirData    = "${launchDir}/data"
    publishDirReports = "${launchDir}/reports"
    publishMode       = 'copy'
}

/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
includeConfig 'conf/containers.config'
includeConfig 'conf/plugins.config'
includeConfig 'conf/reporting.config'
includeConfig 'conf/resources.config'

includeConfig 'conf/isaac.config'
profiles {
    exploratory {
        params {
            publishDirData    = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/data"
            publishDirReports = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/reports"
            publishMode       = 'symlink'
        }
        resume = true
    }

}