process {
    // GLIMPSE2 Parameters
        // Please see @https://odelaneau.github.io/GLIMPSE/docs/documentation/chunk/ for more details
        // All parameters specified below are the provided default parameters for GLIMPSE2_chunk
    withName: 'glimpse2_chunk' {
        ext.argsDefault = [
            // Input Parameters
            '--sparse-maf' : '0.00100000005', // (Expert setting) Rare variant threshold
            // Parameters
            '--window-cm' : '2.5', // Minimal window size in cM
            '--window-mb' : '2', // Minimal window size in mb
            '--window-count' : '20000', // Minimal window size in # common variants
            '--buffer-cm' : '0.5', // Minimal buffer size in cM
            '--buffer-mb' : '0.400000006', // Minimal buffer size in mb
            '--buffer-count' : '2000' // Minimal buffer size in # common variants
            // The model parameters for GLIMPSE2_chunk should otherwise be specified in the nextflow.config file
        ]
    }
    withName: 'glimpse2_split_reference' {
        ext.argsDefault = [
            // Input parameters
            '--sparse-maf' : '0.00100000005', // (Expert setting) Rare variant threshold
            // Commented out, but provided in case the user would like to test the following setting
            // '--keep-monomorphic-ref-sites' : ' ' // (Expert setting) Keeps monomorphic markers in the reference panel (removed by default)
        ]
    }
    // IMPUTE5 parameters
        // Please see the IMPUTE5 documentation for more details
        // All parameters specified below are the provided default parameters for IMPUTE5
        // Note that parameters that are provided by are specified as 'NA' are not used here to prevent strange interactions
        // Additional parameters not provided but desired by the user may be supplied here
    withName: 'impute5_impute_samples' {
        ext.argsDefault = [
            // Rare Variant Threshold - Expert
            '--sparse-maf': '0.03125', // FLOAT expert setting - rare variant threshold
            // Model Parameters
            '--ne': '100000', // Effective population size
            '--err-imp': '1e-4', // FLOAT expert setting - imputation HMM error rate
            // State selection
            '--max-pbwt-depth': '16', // INT max depth of PBWT indexes to condition one
            '--min-pbwt-depth': '2', // INT min depth of PBWT indexes to condition one
            '--pbwt-cm': '0.02', // FLOAT frequency of the selection algorithm in cm
            '--Kpbwt': '1500', // INT max number of states to condition one
        ]
    }
    // SHAPEIT4 phase_common parameters
        // Please see @https://odelaneau.github.io/shapeit4/#documentation for more details
        // All parameters specified below are the provided default parameters for SHAPEIT4 phase common
        // Additional parameters not provided but desired by the user may be supplied here
    withName: 'shapeit4_phase_common_noref' {
        ext.argsDefault = [
            // MCMC Parameters:
            '--mcmc-iterations' : '5b,1p,1b,1p,1b,1p,5m', // STRING iteration scheme of the MCMC
            '--mcmc-prune' : '0.999', // Pruning threshold for genotype graphs
            // PBWT Parameters:
            '--pbwt-modulo' : '0.02', // Storage frequency of PBWT indexes in cM (i.e. storage every 0.2 cM by default)
            '--pbwt-depth' : '4', // Depth of PBWT indexes to condition one
            '--pbwt-mac' : '2', // Minimal minor allele count at which PBWT is evaluated
            '--pbwt-mdr' : '0.5', // Maximal missing data rate at which PBWT is evaluated
            // HMM Parameters:
            '-W' : '2.5', // Minimal size of the phasing window in cM
            '--effective-size' : '15000' // Effective size of the population
        ]
    }
    // SHAPEIT5 phase_common parameters
        // Please see @https://odelaneau.github.io/shapeit5/docs/documentation/phase_common/ for more details
        // All parameters specified below are the provided default parameters for SHAPEIT5 phase_common
        // Note that '--filter-snp' is commented out to prevent automatic application
    withLabel: 'shapeit5' {
        ext.argsDefault = [
            // Filter Parameters
            // '--filter-snp': ' ', // NA if specified, the program only considers SNPs
            '--filter-maf': '0', // FLOAT only consider variants with MAF above the specified value. It requires AC/AN tags in VCF/BCF file
            // MCMC Parameters - Expert
            '--mcmc-iterations': '5b,1p,1b,1p,1b,1p,5m', // STRING iteration scheme of the MCMC (burnin=b, pruning=p, main=m)
            '--mcmc-prune': 0.999, // FLOAT pruning threshold for genotype graphs (internal memory structures)
            '--mcmc-noinit': 'NA', // If specified, phasing initialized by PBWT sweep is disabled
            // PBWT Parameters - Expert
            '--pbwt-modulo': 0.1, // FLOAT storage frequency of PBWT indexes in chromosome
            '--pbwt-depth': 4, // INT depth of PBWT indexes to condition one
            '--pbwt-mac': 5, // INT minimal minor allele count at which PBWT is evaluated
            '--pbwt-mdr': 0.1, // FLOAT maximimal missing data rate at which PBWT is evaluated
            '--pbwt-window': 4, // INT run PBWT selection in windows of this size
            // HMM Parameters - Expert
            '--hmm-window': 4, // INT minimal size of the phasing window in chromosome
            '--hmm-ne': 15000, // INT effective size of the population
        ]
    }
}