process {
    withName: 'shapeit5_phase_samples' {
        ext.argsDefault = [:]
        ext.argsDynamic = {
            def dynamicMap = [:]

            // set dynamic arguments for paired-end reads
            if (metadata.geneticMaps == 'provided') {
                // Set the genetic map to be used 
                dynamicMap.put('--map', 'geneticMapPath')
            }

            return dynamicMap
        }
    }

}