process {
    // GLIMPSE2 Parameters
        // Please see @https://odelaneau.github.io/GLIMPSE/docs/documentation/chunk/ for more details
        // All parameters specified below are the provided default parameters for GLIMPSE2_chunk
    withName: 'glimpse2_chunk' {
        ext.argsDefault = [
            // Input Parameters
            '--sparse-maf' : '0.00100000005', // (Expert setting) Rare variant threshold
            // Parameters
            '--window-cm' : '2.5', // Minimal window size in cM
            '--window-mb' : '2', // Minimal window size in mb
            '--window-count' : '20000', // Minimal window size in # common variants
            '--buffer-cm' : '0.5', // Minimal buffer size in cM
            '--buffer-mb' : '0.400000006', // Minimal buffer size in mb
            '--buffer-count' : '2000' // Minimal buffer size in # common variants
            // The model parameters for GLIMPSE2_chunk should otherwise be specified in the nextflow.config file
        ]
    }
        // Please see @https://odelaneau.github.io/GLIMPSE/docs/documentation/phase/ for more details
        // All parameters specified below are the provided default parameters for GLIMPSE2_phase
        // Note that parameters that are provided by are specified as 'NA' are not used here to prevent strange interactions
        // Additional parameters not provided but desired by the user may be supplied here
    withName: 'glimpse2_phase' {
        ext.argsDefault = [
            // Input parameters
            '--seed' : '15052011', // Seed of the random number generator
            '--sparce-maf' : '0.001', // FLOAT (Expert setting) Rare variant threshold
            // '--keep-monomorphic-ref-sites' : '', // (Expert setting) Keeps monomorphic markers in the reference panel (removed by default)
            // '--impute-reference-only-variants' : '', // NA Only used together with --input-gl. Allows imputation at variants only present in the reference panel (no GL called at these positions). The use of this option is intended only to allow imputation at sporadic missing variants. If the number of missing variants is non-sporadic, please re-run the genotype likelihood computation at all reference variants and avoid using this option, since data from the reads should be used. A warning is thrown if reference-only variants are found.
            // '--use-gl-indels' : '', // NA (Expert setting)  Only used together with --input-gl. Use genotype likelihoods at indels from the VCF/BCF file. By default GLIMPSE assumes flat likelihoods at non-SNP variants, as genotype likelihoods from low-coverage data are often miscalibrated, potentially affecting neighbouring variants.
            // Model parameters
            '--burnin' : '5', // INT (Expert setting) Number of burn-in iterations of the Gibbs sampler
            '--main' : '15', // INT (Expert setting) Number of main iterations of the Gibbs sampler
            '--ne' : '100000', // INT (Expert setting) Effective diploid population size modelling recombination frequency
            '--min-gl' : '1e-10', // FLOAT (Expert setting) Minimum haploid likelihood
            '--err-imp' : '1e-12', // FLOAT (Expert setting) Imputation HMM error rate
            '--err-phase' : '1e-4', // FLOAT (Expert setting) Phasing HMM error rate
            // Selection parameters
            '--pbwt-depth' : '12', // INT (Expert setting) Number of neighbours in the sparse PBWT selection step (positive number)
            '--pbwt-modulo-cm' : '0.1', // FLOAT (Expert setting) Frequency of PBWT selection in cM (positive number). This parameter is automatically adjusted in case of small imputation regions.
            '--Kinit' : '1000', // INT (Expert setting) Number of states used for initialization (positive number). Can be set to zero only when –state-list is set, to skip the selection for the initialization step.
            '--Kpbwt' : '2000', // INT (Expert setting) Maximum number of states selected from the sparse PBWT (positive number). Can be set to zero only when –state-list is set, to skip the selection for during the Gibbs iterations.
            // BAM/CRAM options and filters
            // If using BAM/CRAM inputs with GLIMPSE2, remove comments to allow modification of default parameters where applicable
            // '--call-model' : 'standard', // STRING Model to use to call the data. Only the standard model is available at the moment.
            // '--call-indels' : '', // NA (Expert setting) Use the calling model to produce genotype likelihoods at indels. However the likelihoods from low-coverage data can be miscalibrated, therefore by default GLIMPSE does only imputation into the haplotype scaffold (assuming flat likelihoods)
            // '--mapq' : '10', // INT Minimum mapping quality for a read to be considered
            // '--baseq' : '10', // INT Minimum phred-scale based quality to be considered
            // '--max-depth' : '40', // INT (Expert setting) Max read depth at a site. If the number of reads exceeds this number, the reads at the sites are downsampled (e.g., to avoid artifactual coverage increases)
            // '--keep-orphan-reads' : '', // NA (Expert setting) Keep paired end reads where one of the mates is unmapped
            // '--ignore-orientation' : '', // NA (Expert setting) Ignore the orientation of mate pairs
            // '--check-proper-pairing' : '', // NA (Expert setting) Discard reads that are not properly paired
            // '--keep-failed-qc' : '', // NA (Expert setting) Keep reads that fail sequencing QC (as indicated by the sequencer)
            // '--keep-duplicates' : '', // NA (Expert setting) Keep duplicate sequencing reads in the process
            // '--illumina13+' : '', // NA (Expert setting) Use Illumina 1.3 encoding for the base quality (for older sequencing machines)
        ]
    }
    withName: 'glimpse2_split_reference' {
        ext.argsDefault = [
            // Input parameters
            '--sparse-maf' : '0.00100000005', // (Expert setting) Rare variant threshold
            // Commented out, but provided in case the user would like to test the following setting
            // '--keep-monomorphic-ref-sites' : '' // NA (Expert setting) Keeps monomorphic markers in the reference panel (removed by default)
        ]
    }
    // IMPUTE5 parameters
        // Please see the IMPUTE5 documentation for more details
        // All parameters specified below are the provided default parameters for IMPUTE5
        // Note that parameters that are provided by are specified as 'NA' are not used here to prevent strange interactions
        // Additional parameters not provided but desired by the user may be supplied here
    withName: 'impute5_impute_samples' {
        ext.argsDefault = [
            // Rare Variant Threshold - Expert
            '--sparse-maf': '0.03125', // FLOAT expert setting - rare variant threshold
            // Model Parameters
            '--ne': '100000', // Effective population size
            '--err-imp': '1e-4', // FLOAT expert setting - imputation HMM error rate
            // State selection
            '--max-pbwt-depth': '16', // INT max depth of PBWT indexes to condition one
            '--min-pbwt-depth': '2', // INT min depth of PBWT indexes to condition one
            '--pbwt-cm': '0.02', // FLOAT frequency of the selection algorithm in cm
            '--Kpbwt': '1500', // INT max number of states to condition one
        ]
    }
    // SHAPEIT4 phase_common parameters
        // Please see @https://odelaneau.github.io/shapeit4/#documentation for more details
        // All parameters specified below are the provided default parameters for SHAPEIT4 phase common
        // Additional parameters not provided but desired by the user may be supplied here
    withName: 'shapeit4_phase_common_noref' {
        ext.argsDefault = [
            // MCMC Parameters:
            '--mcmc-iterations' : '5b,1p,1b,1p,1b,1p,5m', // STRING iteration scheme of the MCMC
            '--mcmc-prune' : '0.999', // Pruning threshold for genotype graphs
            // PBWT Parameters:
            '--pbwt-modulo' : '0.02', // Storage frequency of PBWT indexes in cM (i.e. storage every 0.2 cM by default)
            '--pbwt-depth' : '4', // Depth of PBWT indexes to condition one
            '--pbwt-mac' : '2', // Minimal minor allele count at which PBWT is evaluated
            '--pbwt-mdr' : '0.5', // Maximal missing data rate at which PBWT is evaluated
            // HMM Parameters:
            '-W' : '2.5', // Minimal size of the phasing window in cM
            '--effective-size' : '15000' // Effective size of the population
        ]
    }
    // SHAPEIT5 phase_common parameters
        // Please see @https://odelaneau.github.io/shapeit5/docs/documentation/phase_common/ for more details
        // All parameters specified below are the provided default parameters for SHAPEIT5 phase_common
        // Note that '--filter-snp' is commented out to prevent automatic application
        // Note that '--filter-maf' is commented out to ensure appropriate application
    withLabel: 'shapeit5' {
        ext.argsDefault = [
            // Filter Parameters
            // '--filter-snp': ' ', // NA if specified, the program only considers SNPs
            // '--filter-maf': '0', // FLOAT only consider variants with MAF above the specified value. It requires AC/AN tags in VCF/BCF file
            // MCMC Parameters - Expert
            '--mcmc-iterations': '5b,1p,1b,1p,1b,1p,5m', // STRING iteration scheme of the MCMC (burnin=b, pruning=p, main=m)
            '--mcmc-prune': 0.999, // FLOAT pruning threshold for genotype graphs (internal memory structures)
            // '--mcmc-noinit': '', // NA If specified, phasing initialized by PBWT sweep is disabled
            // PBWT Parameters - Expert
            '--pbwt-modulo': 0.1, // FLOAT storage frequency of PBWT indexes in chromosome
            '--pbwt-depth': 4, // INT depth of PBWT indexes to condition one
            '--pbwt-mac': 5, // INT minimal minor allele count at which PBWT is evaluated
            '--pbwt-mdr': 0.1, // FLOAT maximimal missing data rate at which PBWT is evaluated
            '--pbwt-window': 4, // INT run PBWT selection in windows of this size
            // HMM Parameters - Expert
            '--hmm-window': 4, // INT minimal size of the phasing window in chromosome
            '--hmm-ne': 15000, // INT effective size of the population
        ]
    }
}