process {
    withLabel: 'bcftools' {
        container = 'https://depot.galaxyproject.org/singularity/bcftools%3A1.21--h3a4d415_1'
    }
    withLabel: 'shapeit5' {
        container = 'https://depot.galaxyproject.org/singularity/shapeit5%3A5.1.1--hb60d31d_0'
    }
}

singularity {
    enabled = true
}